<!DOCTYPE html>

<html>

<head>

<title>Starbucks Capstone Project - Udacity</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navbar links-->     
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">Some Visualizations from Udacity Starbucks Capstone Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarTogglerDemo02" 
  aria-controls="navbarTogglerDemo02" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.udacity.com">Udacity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.starbucks.com">Starbucks</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
	<div class="col-10">
		<!--chart descriptions-->       
		<div id="middle-info" class="mt-3">

			<h3 id="tag-line">Six charts to present project summary results</h3>
			
		</div>
	</div>

	<!--social media buttons column-->      
	<div class="col-1 border-right">
		<div id="follow-me" class="mt-3">
			
			<a href="#">
				<img src="/static/img/Udacity_logo.png" alt="Udacity" class="img-fluid mb-4 ml-2">
			</a>
		</div>
	</div>

	<div class="col-1 border-right">
		<div id="follow-me" class="mt-3">
			<a href="#">
				<img src="/static/img/Starbucks.png" alt="Starbucks" class="img-fluid ml-2">
			</a>
		</div>
	</div>

</div>


<!--middle section-->       
<div class="row">

    <!--visualizations column-->        
    <div class="col-11">

		
        <!--charts-->       
        <div id="charts" class="container mt-3 text-center">
			<div class="row">
				<h4 id="tag-line" class="text-muted">Highlights from Data Exploration</h4>
			</div>

            <!--top three charts-->       
            <div class="row">

                <div class="col-4">
                    
                    <a href="#">
                        <img src="/static/img/offers_summary.png" alt="Offers Summary" class="img-fluid ml-2">
                    </a>

                </div>

                <div class="col-4">
                    <a href="#">
                        <img src="/static/img/age_distribution.png" alt="Customers Age Profile" class="img-fluid ml-2">
                    </a>
                </div>

                <div class="col-4">
                    <a href="#">
                        <img src="/static/img/income_distribution.png" alt="Customers Income Profile" class="img-fluid ml-2">
                    </a>
                </div>
            </div>

            <br><br><br>

			<div class="row">
				<h4 id="tag-line" class="text-muted">Results from Model Application</h4>
			</div>

            <!--bottom three charts-->        
            <div class="row">

                <div class="col-4"> 
                    <a href="#">
                        <img src="/static/img/percentage_offer_accepted.png" alt="Offers Accepted %" class="img-fluid ml-2">
                    </a>
                </div>

                <div class="col-4">
                    <a href="#">
                        <img src="/static/img/confusion_matrix.png" alt="Confustion Matrix" class="img-fluid ml-2">
                    </a>
                </div>

                <div class="col-4">

                    <a href="#">
                        <img src="/static/img/strongest_explanatory_power.png" alt="Explanatory Power of Features" class="img-fluid ml-2">
                    </a>
                <div>

            </div>
        
        </div>

    <div>
    <br><br>
    <div class="row">
        <p> Details on the steps taken to arrive on the above results could be
            accessed via the following github link 
            <br>
            https://github.com/kolBerR/Starbucks-Capstone-Project---Udacity
         </p>
    </div>

</div>



<!--footer section-->               
<!--<div id="footer" class="container"></div> -->

</body>


<footer>

</footer>


</html>
